{%- if segment_size == 1 or segment_size == 2 or segment_size == 4 or segment_size == 8 %}
        VL{{segment_size}}RE{{elem_size}}__V {
            encoding: 3'b{{segment_bits}} :: mew[0:0] :: 2'b00 :: 1 :: 5'b01000 :: rs1[4:0] :: 3'b{{elem_bits}} :: vd[4:0] :: 7'b0000111;
            assembly: "{vname(vd)}, ({name(rs1)})";
            behavior: if(rs1>=RFS) raise(0, RV_CAUSE_ILLEGAL_INSTRUCTION);
                else {
                    unsigned<XLEN> evl = (unsigned<XLEN>)({{segment_size}} * VLEN/{{elem_size}});
                    {%- if segment_size > 1%}if(vd % {{segment_size}}) raise(0, RV_CAUSE_ILLEGAL_INSTRUCTION);
                    else {% else %}
                    {% endif %}if(evl > vstart){
                        vstart = (unsigned<XLEN>)vlseg(V, evl, vstart, vtype, 1, vd, X[rs1], 3'b{{elem_bits}}, 1);
                    }
                }
        }
{%- endif %}